body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  height: 70%;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  justify-content: center;
  align-items: center;
  color: rgb(146, 146, 210);
}

.list{
  display: flex;
  padding-left: 2%;
}

.book-form {  
  background-color: #fff;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 5%;
  padding-bottom: 15%;

}

#bookName{
  width: 80%;
  height: 10%;
  border-color: rgb(172, 172, 192);
  border-style:double;
  border-radius: 8px ;
}

#authorName{
  width: 80%;
  height: 10%;
  border-color: rgb(172, 172, 192);
  border-style:double;
  border-radius: 8px ;

}

.n{
  font-weight: 90;
  color: rgb(146, 146, 210);
}

#book-list {
  list-style:none;
  padding-left: 3%;
  width: 50%;
}

.add{
  background-color: rgb(146, 146, 210);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d3cece;
}

.delete-btn {
  background-color: rgb(146, 146, 210);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
